﻿@{
    ViewBag.Title = "Home Page";    
}

<div class="row text-center margin-top-100" >
   <h1>The Book List</h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 margin-top-100">
        <a href="@Url.Action("Index", "Book")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-book"></span> View Books</a>
    </div>
</div>
