﻿@model PagedList.IPagedList<Books.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
   ViewBag.Title = "The Book List";
}

<h2>The Book List</h2>

<p>
   @Html.ActionLink("Add New Book", "Create")
</p>
@using (Html.BeginForm("Index", "Book", FormMethod.Get)) {
   <p>
      Find by Author: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
      <input type="submit" value="Search" />
   </p>
}
<table class="table table-striped table-bordered">
   <thead>
      <tr>
        <th> 
           @Html.ActionLink("Title", "Index", new {sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
           @Html.ActionLink("Author", "Index", new {sortOrder = ViewBag.AuthorSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
           @Html.ActionLink("Year", "Index", new {sortOrder = ViewBag.YearSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
      </tr>
   </thead>

   <tbody>
      @foreach (var item in Model) {
         <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>
               @Html.ActionLink("Edit", "Edit", new {id = item.Id})
             </td>
         </tr>
      }
   </tbody>   
</table>
<br />
      Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
      @Html.PagedListPager(Model, page => Url.Action("Index", new {
          page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter
       }))


